* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d1e5ff;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  background-color: #cdb4db;
}

.todo {
  /* width: 30vw; */
  width: 400px;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(10px 4px 14px rgba(139, 151, 172, 0.6));
}

.header {
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  background-color: #ffafcc;
  border-radius: 15px 15px 0px 0px;
}

.logo img {
  width: 70px;
  padding: 3px;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.currentDay {
  font-size: 24px;
}

.currentDate {
  padding: 5px;
}

.container {
  width: 100%;
  max-height: 70vh;
  background-color: #a2d2ff;
  padding: 15px 0px;

}

.tasklist {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-text {
  color: black;
  font-size: 20px;
  overflow-wrap: anywhere;
}

.task.checked .task-text {
  text-decoration: line-through;
}

ul li {
  list-style: none;
  position: relative;
  user-select: none;
  padding: 12px 8px 12px 50px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 13px;
  margin-left: -36px;
  background-image: url(assets/unchecked.png);
  background-size: cover;
  background-position: center;
}

ul .task.checked .task-text {
  opacity: 0.8;
  font-size: 20px;
  color: #555;
}

ul li.checked::before {
  background-image: url(assets/checked.png);
}

ul .task .cross {
  font-size: 22px;
  color: red;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: 0.1s linear;
  border-radius: 50%;
  padding-inline: 10px;
  padding-right: 30px;
}

.addTask {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #bde0fe;
  border-radius: 0px 0px 15px 15px;
  padding: 10px 0px;
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  width: 80%;
  border: 1px solid black;
  font-size: 20px;
}

.addIcon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addIcon i {
  font-size: 38px;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 25px;
}
footer a{
  color: black;
  margin-left: 8px;
}

@media(width<768px){
  .main{
    justify-content: flex-start;
  }
  .container{
    height: 65vh;
  }
}
@media(width<468px){
  .main{
    padding: unset;
  }
  .todo{
    width: 100vw;
  }
  .header{
    border-radius: unset;
  }
  .addTask{
    border-radius: unset;
  }
  .task-text{
    font-size: 18px;
  }
  ul .task.checked .task-text{
    font-size: 18px;
  }
}
@media(width<375px){
  footer{
    font-size: 20px;
  }
}
